.banner {
  padding: 13.93% 33.25% 13.57% 20.46%;
  background: no-repeat top 0 left 0/contain url("./images/helimain.png");
}

.price {
  width: 224px;
  height: 87px;
  color: $light;
  background-color: $warning;
  border-radius: 5px;
  box-shadow: 0 4px 4px rgb(0 0 0 / 10%);
}

.ellipse {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 52px;
  height: 52px;
  border: 1px solid $light;
  border-radius: 26px;
}

.button {
  display: block;
  box-sizing: border-box;
  width: 304px;
  height: 68px;
  padding: 24px 37px;
  color: $light;
  font-weight: 900;
  font-size: 18px;
  line-height: 22px;
  border: 3px solid $light;
  border-radius: 3px;
}

header,
#photosession,
#package-photos,
#about-organizer,
#available-shooting,
#reviews,
#social {
  width: 1137px;
  margin: 0 auto;
}

.watch {
  position: relative;
}

.watch-1,
.watch-2,
.watch-3 img,
.watch-4 img,
.watch-5 img {
  position: absolute;
  top: 50%;
  left: 50%;
  z-index: -1;
  transform: translate(-50%, -50%);
}

.watch-1 {
  width: 32px;
  height: 32px;
}

.watch-2 {
  width: 29.96px;
  height: 29.96px;
}

.watch-3 {
  width: 1.02px;
  height: 3.06px;
}

.watch-4 {
  width: 15.7px;
  height: 15.7px;
}

.watch-5 {
  width: 27.91px;
  height: 27.91px;
}

.position-button-play {
  position: relative;
  top: 325px;
  left: 650px;
}

.close-video {
  position: absolute;
  top: -22px;
  right: 0;
  cursor: pointer;
}

.review-border {
  width: 569px;
  padding: 25px 0;
  border-top: 0.5px solid $border;
  border-bottom: 0.5px solid $border;
}

.review {
  width: 510px;
}

.reviews-border {
  box-sizing: border-box;
  border-bottom: 0.5px solid $border;
}

.container {
  box-sizing: border-box;
  width: 40.1vw;
  padding: 23px 30px 42px 27px;
  border: 1px solid $border;
}

.line {
  margin-right: -30px;
  margin-left: -30px;
  border-top: 0.5px solid $border;
}

.container-time {
  padding-top: 20px;
}

.select {
  position: relative;
  z-index: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
  width: 129px;
  height: 50px;
  color: $warning;
  background-color: $light;
  border: 2px solid $warning;
  border-radius: 3px;
}

#map {
  position: absolute;
  width: 99.5vw;
  height: 509px;
  margin-top: -483px;
}

.ya-map {
  color: $dark;
  font-weight: normal;
  font-size: 12px;
}

.shooting-information {
  position: relative;
  top: 495px;
  left: 390px;
  z-index: 1;
  box-sizing: border-box;
  width: 420px;
  padding: 2.65vw 30px 3.02vw;
  background-color: $light;
  border: 1px solid $border;
}

.radio-button {
  width: 10px;
  height: 10px;
  border: 0.5px solid $gray;
  border-radius: 50%;
}
