.popup-bg {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  overflow-y: auto;
  background: rgb(0 0 0 / 50%);
  opacity: 0;
  transition: 0.5s all;
  pointer-events: none;
}

.popup-bg.active {
  opacity: 1;
  transition: 0.5s all;
  pointer-events: all;
}

.popup {
  position: absolute;
  top: 50%;
  left: 50%;
  box-sizing: border-box;
  width: 615px;
  padding: 60px 97.5px;
  background: $light;
  border-radius: 6px;
  transform: translate(-50%, -50%) scale(0);
  transition: 0.5s all;
}

.popup.active {
  transform: translate(-50%, -50%) scale(1);
  transition: 0.5s all;
}

.close-popup {
  position: absolute;
  top: 22px;
  right: 24px;
  cursor: pointer;
}

.popup-title {
  font-weight: 600;
  font-size: 22px;
  line-height: 150%;
  text-align: center;
}

.popup label {
  display: flex;
  flex-direction: column-reverse;
  width: 100%;
  margin-bottom: 10px;
}

.popup label:nth-of-type(7) {
  flex-direction: row;
  width: 80%;
}

input[type="date"] {
  width: 100%;
  background: url("./images/calendar.png") no-repeat 99% 50%;
}

input[type="date"]::-webkit-calendar-picker-indicator {
  position: absolute;
  right: 16.6%;
  opacity: 0;
}

.checkbox {
  position: relative;
  z-index: -1;
  width: 16px;
  height: 16px;
  background: $warning;
  border: 1px solid $warning;
  border-radius: 2px;
  box-shadow: 0 0 3px rgb(252 155 9 / 60%);
}

.custom-checkbox {
  display: flex;
  flex-direction: row;
}

.custom-checkbox .checkbox {
  margin-right: 10px;
}

.hidden-checkbox {
  position: absolute;
  opacity: 0;
}

.checkmark {
  position: absolute;
  top: 50%;
  left: 50%;
  display: none;
  width: 80%;
  height: auto;
  transform: translate(-50%, -50%);
}

.popup label:nth-last-of-type(1) + input:checked ~ .d-flex .checkbox .checkmark {
  display: block;
}

.popup label:nth-of-type(6) {
  margin-bottom: 0;
}

.popup .label-text {
  margin-top: 7px;
  margin-bottom: 10px;
  font-weight: 500;
}

.popup input {
  box-sizing: border-box;
  height: 44px;
  padding-left: 20px;
  border: 1px solid $border;
  border-radius: 3px;
  outline: none;
}

.popup input:invalid {
  border: 1px dashed $red;
}

.popup input:focus {
  border-bottom: 1px solid $info;
}

.popup input:focus + .label-text {
  color: $info;
}

.popup label:nth-of-type(6) input {
  border-radius: 3px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}

.popup .d-flex label:nth-of-type(1) input {
  box-sizing: border-box;
  border-top: none;
  border-right: none;
  border-radius: 3px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}

.popup .d-flex label:nth-of-type(2) input {
  border-top: none;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  border-bottom-left-radius: 0;
}

.popup textarea {
  width: 100%;
  height: 150px;
  padding-top: 5px;
  font-size: 18px;
  border: none;
  border-bottom: 1px solid #cfd0d3;
  outline: none;
  resize: none;
}

.popup textarea:focus {
  border-bottom: 1px solid $info;
}

.popup textarea:focus + .label-text {
  color: $info;
}

.popup button {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 390px;
  height: 72px;
  color: $light;
  font-weight: 600;
  background: $warning;
  border: 2px solid $warning;
  cursor: pointer;
  transition: 0.5s all;
}

.popup button:hover {
  color: $info;
  background: $light;
  transition: 0.5s all;
}
