section(id="about-organizer")
  .d-flex.justify-content-between.f-direction-md-column   
    .mt-8.order-md-2.mt-sm-3   
      h3.fs-18.fw-500 Об организаторе:
      .lh-150percent.mt-minus4.pr-186.fw-normal Всем привет! Я фотограф Мария! И по мимо фотосъемки я так же являюсь членом группы экспертов туристической отрасли, которые хорошо разбираются в маркетинге, операциях и услугах обслуживания клиентов, специализирующихся на совместном использовании и частных турах. 
      .lh-150percent.mt-26.pr-186 Сначала мы (я и моя команда) изучаем интересы клиентов, а затем придумываем подходящее решение, которое соответствует бюджету и планам клиента. Мы никогда не зависим от субпоставщиков
      .lh-150percent.pr-186 и не свяжемся…
      a(href="#").fw-500.mr-10.mr-sm-5 Читать еще 
      img.mt-16.mt-sm-30(src="images/arrow-to-down.png", alt="arrow to down")
      h3.fs-18.fw-500.mt-39.mt-sm-29 Что я предоставлю:
      .lh-150percent.mt-minus4.pr-246 Встречу вас на машине после длительного перелёта. Качественный подбор места и локации для вашей съемки.
      .lh-150percent.pr-186 При необходимости всегда возможно прерваться на обед/ужин.
      div.lh-150percent.pr-186 Более 50 фотографий на выходе с обработкой и замечательные впечатления о Дубае !
      a(href="#").fw-500.mr-10.mr-sm-5 Читать еще 
      img.mt-18.mt-sm-29(src="images/arrow-to-down.png", alt="arrow to down")
    .d-flex.mrminus4.order-md-1  
      .d-flex.f-direction-column.align-items-center.w-220.ml-sm-28     
        img.mt-58(src="images/photographer.png", alt="photographer Marina Ivanova", width="139")
        .fs-18.fw-500.mt-23 Марина Иванова
        .fs-14.mt-7 Фотограф
        a.fs-14.lh-150percent.fw-500.mt-12.w206.text-center(href="#") Показать больше информации о фотографе
      img.mt-45.mr-115.ml-auto.mr-sm-0(src="images/heart.svg", alt="orange heart", width="31", height="27")
  hr.mt-53.d-sm-none