section(id="available-shooting")
  h3.fw-500.fs-20.lh-145percent.lh-sm-129percent.w-288.mt-45.mt-sm-39.text-sm-center.mlsm-minus5
    span.w-sm-287.mr-sm-17 Доступная съемка 
    br.d-none.d-sm-flex 
    span.ml-sm-minus10 в ближай
    span.d-sm-none ш
    span.d-none.d-sm-inline щ
    span ее время
    span.d-sm-none :
  .container.mt-26.mb-82.mt-sm-36  
    .d-flex.align-items-center.justify-content-sm-center 
      .fw-normal.fs-18.mr-18.mt-sm-minus5 Пятница, 14 сентября
      a(href="#") 
        img.d-sm-none(src="./images/calendar.svg", alt="calendar")
    .line.mt-14.mt-sm-17 
    .d-flex.justify-content-between.align-items-center.mt-21.f-direction-sm-column.mt-sm-29  
      div
        .fw-normal.fs-18 15:00 - 18:00
        .fw-600.fs-18.mt-10.d-sm-none 1500₽
        .fw-600.fs-18.mt-10.d-none.d-sm-block 850$
        .fw-normal.fs-18.mt-10 Осталось — 1 место
      a(href="#").select.fw-500.fs-18.mt-sm-24 Выбрать  
    .line.mt-21.mt-sm-29  
    .d-flex.justify-content-between.align-items-center.mt-21.mt-sm-29.f-direction-sm-column 
      div  
        .fw-normal.fs-18 19:00 - 22:00
        .fw-600.fs-18.mt-10.d-sm-none 1500₽
        .fw-600.fs-18.mt-10.d-none.d-sm-block 850$
        .fw-normal.fs-18.mt-10 Осталось — 1 место
      a.select.fw-500.fs-18.mt-sm-24(href="#") Выбрать
    .line.mt-sm-29.d-none.d-sm-block 
    .d-flex.align-items-center.mt-66.mt-sm-29 
      img.mr-10.mr-sm-13(src="./images/cup.png", alt="cup")
      .d-flex.f-direction-md-column  
        .fs-18.fw-600.mr-8.d-sm-none Более 50 отзывов с оценкой
        .fs-13.d-none.d-sm-block.ml-sm-2.mt-sm-3 Более 150 отзывов с оценкой
        .mt-sm-9  
          img.mr-7(src="images/Vectorstar.svg" alt="star")
          img.mr-7(src="images/Vectorstar.svg" alt="star")
          img.mr-7(src="images/Vectorstar.svg" alt="star")
          img.mr-7(src="images/Vectorstar.svg" alt="star")
          img(src="images/Vectorstar.svg" alt="star")