section.banner(id="banner") 
  h1 
    span.text-light.fs-40 Эксклюзивная
    span.text-warning.fs-40  фотосессия
    span.text-light.fs-40  при полете на вертолете
  div.price.d-flex.f-direction-row.justify-content-center.align-items-center
    .mr-14 
      div.fs-20 Стоимость
      .fs-35.fw-800 1500Р
    div.ellipse
      span.fs-35 %
  svg(width="224" height="15") 
    path(d="m 109,0 L 119,10 129,0" fill="#fc9b09" stroke="#fc9b09")
  a.button(href="#") Забронировать место
