.d-flex.w-1137.m-0-auto.d-md-block 
  .mt-7.ml-66.d-md-flex.justify-content-between.ml-md-0
    .d-md-flex 
      img.mr-20.mr-sm-10(src="./images/mastercard.png", alt="mastercard")
      img.mr-md-13(src="./images/visa.png", alt="visa")
      img.d-none.d-md-flex(src="./images/paypal.jpg", alt="paypal")
    .d-flex.align-items-md-center 
      span.fs-15.mr-7.d-none.d-md-flex RU
      img.d-none.d-md-flex(src="images/arrow-to-down.png", alt="arrow to down", width="11", height="6")
  .d-flex.f-direction-column.align-items-center.ml-276.ml-md-0   
    .fs-14.text-gray.mt-md-23 Тех. поддержка: 8(800)700-00-00
    .fs-14.text-gray.mt-7.mt-sm-9 © 2018 HELYFLY. All Rights Reserved.
