head
  meta(charset = "UTF-8")
  meta(name = "viewport" content = "width=device-width, initial-scale=1.0")
  meta(http-equiv="X-UA-Compatible" content="ie=edge")
  title Тестовое задание Рината Габидуллина
  link(rel="stylesheet" href="./style.css")
  script(src="https://api-maps.yandex.ru/2.1/?lang=ru_RU&amp;apikey=a218b144-dcd9-41c7-af4d-5ff0bdfeadc7")
