img(src="./images/helyfly.png", alt="Логотип", width="128", height="23")
span.text-gray.ml-36.fs-14.d-sm-none Телефон:
span.fs-14.d-sm-none 8(800)-123-12-12
a(href="#").fs-14.mr-40.mb-minus4.d-none.d-sm-block Москва
img.d-none.d-sm-block(src="./images/human-profile.svg", alt="human profile", width="20", height="20")