doctype html
html(lang="ru")
  include head.pug
  body
    header.header
      include header.pug
    main
      include banner.pug
      include popup.pug  
      include photosession.pug 
      include package-photos.pug 
      include about-organizer.pug
      include available-shooting.pug
      include map.pug
      include reviews.pug 
      include social.pug 
    footer.footer  
      include footer.pug
    script(src="./scripts/popup.js")
    script(src="./scripts/read-more.js")
    script(src="./scripts/more-info-about-photographer.js")
    script(src="./scripts/show-all-photos.js")
    script(src="./scripts/slider.js")
    script(src="./scripts/show-all-reviews.js")
    script(src="./scripts/scroll-photo.js")
