section(id="package-photos")
  h3.fs-20.fw-500.mt-30.mt-sm-60.text-sm-center.ml-sm-2.w-sm-287 Фотографии пакета
    span.d-sm-none :
  .mt-37.mt-sm-30    
    img(src="images/girl-in-the-helicopter-cockpit.png", alt="girl in the helicopter cockpit")
    img.ml-11.d-sm-none(src="images/helicopter-view.png", width="276", height="185", alt="helicopter view")
    img.ml-11.d-sm-none(src="images/kiss-in-the-air.png" width="276" height="185" alt="kiss in the air")
    img.ml-11.d-sm-none(src="images/girl-next-to-the-helicopter.png", alt="girl next to the helicopter")
    img.mt-7.mt-sm-0.d-sm-none(src="images/kiss-in-the-air.png" width="276" height="185" alt="kiss in the air")
    img.mt-7.ml-11.mt-sm-0.d-sm-none(src="images/girl-next-to-the-helicopter.png", alt="girl next to the helicopter")
    img.mt-7.ml-11.mt-sm-0.d-sm-none(src="images/helicopter-view.png", width="276", height="185", alt="helicopter view")
    img.mt-7.ml-11.mt-sm-0.d-sm-none(src="images/kiss-in-the-air.png" width="276" height="185" alt="kiss in the air")
  .m-0-auto.mt-41.w-220.d-sm-none 
    img(src="images/arrow-to-down.png", alt="arrow to down")
    a.fs-17.fw-500.mx-10(href="#") Показать все фото
    img(src="images/arrow-to-down.png", alt="arrow to down")
  hr.mt-26.d-sm-none