section.fw-500.pt-70.pt-sm-36(id="photosession")
  .d-flex.justify-content-between.f-direction-md-column 
    .mr-40.mr-md-0.text-md-center 
      div.fs-40.mt-3.lh-122percent Фотосессия 
      div.fs-40.lh-122percent в вертолете
    img.position-button-play(src="./images/button-video-play.png", alt="button video play", width="16", height="23")
    img.mt-md-13.m-md-0-auto.mt-sm-minus11(src="images/kiss-in-the-air.png", alt="kiss in the air", width="554", height="374")
    div.d-none.mt-md-13.m-md-0-auto.position-relative(id="video-control")
      img.close-video(src="./images/close.png", alt="to close")
      iframe(id="my-iframe", loading="lazy", width="554", height="374", src="https://www.youtube.com/embed/xePJ6jlSJMI", title="YouTube video player", allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture", allowfullscreen)
  div.fs-18.fw-normal.lh-145percent.w-549.mt-minus260.mt-md-30 Полет на вертолете это прекрасная возможность получить новые ощущения! А наш замечательный фотограф запечатлит лучшие моменты
    span.d-none.d-sm-inline !
  .d-flex.align-items-center.mt-18.mt-sm-27 
    img.mr-10.d-sm-none(src="./images/watch.svg", alt="watch")
    .watch.d-none.d-sm-block.mr-sm-13.ml-sm-2  
      img.watch-1(src="./images/watch-1.png", alt="")
      .watch-2 
        img(src="./images/watch-2.png", alt="")
      .watch-3 
        img(src="./images/watch-3.png", alt="")
      .watch-4 
        img(src="./images/watch-4.png", alt="")
      .watch-5 
        img(src="./images/watch-5.png", alt="")
    span.fs-14 3 часа съемки
  .align-items-center.mt-sm-3.d-none.d-sm-flex  
    img.mr-sm-13(src="./images/speech-bubble.svg", alt="speech bubble")
    span.fs-14.fw-500 Русский
  .align-items-center.mt-sm-13.d-none.d-sm-flex  
    img.mr-sm-13(src="./images/payment.png", alt="payment")
    span.fs-14.fw-500 от 850$
  .align-items-center.mt-16.d-none.d-sm-flex  
    img.mr-10(src="./images/map-pin-marked.svg", alt="point on the map")
    span.fs-14.fw-500 Дубаи
  div.d-flex.align-items-center.mt-18
    img.mr-7(src="./images/camera.svg", alt="camera")
    span.fs-14.fw-500 Более 50 фотографий
  .d-flex.align-items-center.mt-16.d-sm-none  
    img.mr-10(src="./images/map-pin-marked.svg", alt="point on the map")
    span.fs-14 Москва
  .d-flex.align-items-center.mt-16.d-sm-none 
    img.mr-10(src="./images/speech-bubble.svg", alt="speech bubble")
    span.fs-14 Готовы ответить на любые вопросы
  .review-border.d-flex.align-items-center.mt-32.mt-sm-27 
    img.mr-10.mr-sm-13.ml-sm-2(src="./images/cup.png", alt="cup") 
    .d-flex.f-direction-md-column  
      .fs-18.fw-600.mr-8 Более 
        span.d-sm-none 50
        span.d-none.d-sm-inline 150
        span  отзывов с оценкой
      .mt-sm-9  
        img.mr-7(src="images/Vectorstar.svg" alt="star")
        img.mr-7(src="images/Vectorstar.svg" alt="star")
        img.mr-7(src="images/Vectorstar.svg" alt="star")
        img.mr-7(src="images/Vectorstar.svg" alt="star")
        img(src="images/Vectorstar.svg" alt="star")