.popup__bg 
  form.popup.mt-21.mt-lg-100.mt-md-160(action="#")
    img.close-popup(src="./images/close.png", alt="to close") 
    h2.popup__title Бронирование
    .label__text Дата
      span.text-red *
    label
      input(type="date", name="calendar", required)
    .label__text Email
      span.text-red *
    label
      input(type="email", name="name", placeholder="Электронная почта", required)
    .label__text Имя
      span.text-red *
    label
      input(type="text", name="name", required)
    .label__text Фамилия
      span.text-red *
    label
      input(type="text", name="name", required)
    .label__text Телефон
      span.text-red *
    label
      input(type="tel", name="phone", pattern="\+7\s?[\(]{0,1}9[0-9]{2}[\)]{0,1}\s?\d{3}[-]{0,1}\d{2}[-]{0,1}\d{2}", minlength="16", maxlength="16", required)
    .label__text Данные карты
      span.text-red *
    label
      input(type="number", name="name", min="0000000000000000" max="9999999999999999", placeholder="Номер карты", required)
    .d-flex 
      label
        input(type="number", name="name", placeholder="Срок действия", required)
      label
        input(type="number", name="name", min="100", max="999", placeholder="CVV", required)
    label.custom-checkbox(for="checkbox")
    input.hidden-checkbox(id="checkbox" type="checkbox", required) 
    .d-flex.mt-18
      .checkbox.mr-10  
        svg.checkmark(xmlns="http://www.w3.org/2000/svg" width="9" height="6" viewBox="0 0 24 24")
          path(fill="#fff" d="M20.285 2l-11.285 11.567-5.286-5.011-3.714 3.716 9 8.728 15-15.285z")
      .w-91percent Я согласен с пользовательским соглашением и публичной офертой
    button.m-0-auto.mt-29 Забронировать