section.review(id="reviews")
  h3.fw-500.fs-20.text-dark.text-sm-center.mt-722 Отзывы
    span.d-sm-none :
  .d-flex.mt-50.mt-sm-47   
    img.mr-18(src="./images/valeria-antonova.png", alt="photo by Valeria Antonova", height="101", width="101")
    .review 
      .fw-500.fs-18.mt-10.mt-sm-5 Валерия Антонова
      .fs-14.mt-10.mt-sm-8 Арт-директор
  .d-flex.ml-119.d-sm-block.mt-minus28.mt-sm-minus24    
    img.mr-7.ml-sm-102(src="./images/Vectorstar.svg" alt="star")
    img.mr-7(src="./images/Vectorstar.svg" alt="star")
    img.mr-7(src="./images/Vectorstar.svg" alt="star")
    img.mr-7(src="./images/Vectorstar.svg" alt="star")
    img.mr-50(src="./images/Vectorstar.svg" alt="star")
    .mt-sm-24    
      img.mr-5(src="./images/check-mark.png", alt="check mark")
      span.fs-14.text-gray Супер! Я бы заказала съемку снова!
  p.review.mt-21.lh-150percent.ml-119.mt-sm-17 Хотим выразить огромную благодарность вашей компании! Получили море ощущений, все прошло просто замечательно. Фотки получились великолепные, отдельное спасибо фотографу!
  .fs-14.text-gray.review.reviews-border.ml-119.pb-35.mt-sm-41.pb-sm-41 27 Апреля, 2019г.
  .d-flex.mt-29 
    img.mr-18(src="./images/vitaly-petrov.png", alt="photo by Vitaly Petrov", height="101", width="101")
    .review   
      .fw-500.fs-18.mt-10.mt-sm-5 Виталий Петров
      .fs-14.mt-10.mt-sm-8 Фотограф
  .d-flex.ml-119.d-sm-block.mt-minus28.mt-sm-minus24   
    img.mr-7.ml-sm-102(src="./images/Vectorstar.svg" alt="star")
    img.mr-7(src="./images/Vectorstar.svg" alt="star")
    img.mr-7(src="./images/Vectorstar.svg" alt="star")
    img.mr-7(src="./images/Vectorstar.svg" alt="star")
    img.mr-50(src="./images/Vectorstar.svg" alt="star")
    .mt-sm-30 
      img.mr-5(src="./images/check-mark.png", alt="check mark")
      span.fs-14.text-gray Супер! Я бы заказал съемку снова!
  p.review.mt-21.lh-150percent.ml-119.mt-sm-17 Восторг! :) Очень понравилось :) Захватили последний теплый, солнечный октябрьский день :) Впечатлило всё: сам вертолет, взлет, полёт, приземление.
    br 
    span  Организация полёта отличная. Спасибо!
  .fs-14.text-gray.review.reviews-border.ml-119.pb-35.mt-sm-17.pb-sm-41 19 Апреля, 2019г.
  .d-sm-none 
    .d-flex.mt-29   
      img.mr-18(src="./images/vitaly-petrov.png", alt="photo by Vitaly Petrov", height="101", width="101")
      .review   
        .fw-500.fs-18.mt-10 Джим Керри
    .d-flex.ml-119.mt-minus48   
      img.mr-7.ml-sm-119(src="./images/Vectorstar.svg" alt="star")
      img.mr-7(src="./images/Vectorstar.svg" alt="star")
      img.mr-7(src="./images/Vectorstar.svg" alt="star")
      img.mr-7(src="./images/Vectorstar.svg" alt="star")
      img.mr-50(src="./images/Vectorstar.svg" alt="star")
      .mt-sm-30 
        img.mr-5(src="./images/check-mark.png", alt="check mark")
        span.fs-14.text-gray Супер! Я бы заказал съемку снова!
    p.review.mt-21.lh-150percent.ml-119 Круто-круто-круто!!! Отмечали мой ДэРэ. Отлично провели время!!! Кстати закуски были вкусными и сытными))Мы с собой ничего не брали. Сами много фоткались,поэтому воспоминания обалденные!!!)) А еще нам всем напечатали по сертификату воздухоплавателя, правда некоторые ленятся за ним съездить))) Но все равно приятно. Короче, Презентстар – проверено. Оценка: пять!
    .fs-14.text-gray.review.reviews-border.ml-119.pb-23 11 Апреля, 2019г.
  .d-none
    .d-flex.mt-50.mt-sm-47   
      img.mr-18(src="./images/valeria-antonova.png", alt="photo by Valeria Antonova", height="101", width="101")
      .review 
        .fw-500.fs-18.mt-10.mt-sm-5 Кира Найтли
        .fs-14.mt-10.mt-sm-8 Актриса
    .d-flex.ml-119.d-sm-block.mt-minus28.mt-sm-minus24    
      img.mr-7.ml-sm-102(src="./images/Vectorstar.svg" alt="star")
      img.mr-7(src="./images/Vectorstar.svg" alt="star")
      img.mr-7(src="./images/Vectorstar.svg" alt="star")
      img.mr-7(src="./images/Vectorstar.svg" alt="star")
      img.mr-50(src="./images/Vectorstar.svg" alt="star")
      .mt-sm-24    
        img.mr-5(src="./images/check-mark.png", alt="check mark")
        span.fs-14.text-gray Супер! Я бы заказала съемку снова!
    p.review.mt-21.lh-150percent.ml-119.mt-sm-17 Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes.
    .fs-14.text-gray.review.reviews-border.ml-119.pb-35.mt-sm-41.pb-sm-41 16 мая, 2019г.
  .d-none
    .d-flex.mt-29 
      img.mr-18(src="./images/vitaly-petrov.png", alt="photo by Vitaly Petrov", height="101", width="101")
      .review   
        .fw-500.fs-18.mt-10.mt-sm-5 Илон Маск
        .fs-14.mt-10.mt-sm-8 Бизнесмен
    .d-flex.ml-119.d-sm-block.mt-minus28.mt-sm-minus24   
      img.mr-7.ml-sm-102(src="./images/Vectorstar.svg" alt="star")
      img.mr-7(src="./images/Vectorstar.svg" alt="star")
      img.mr-7(src="./images/Vectorstar.svg" alt="star")
      img.mr-7(src="./images/Vectorstar.svg" alt="star")
      img.mr-50(src="./images/Vectorstar.svg" alt="star")
      .mt-sm-30 
        img.mr-5(src="./images/check-mark.png", alt="check mark")
        span.fs-14.text-gray Супер! Я бы заказал съемку снова!
    p.review.mt-21.lh-150percent.ml-119.mt-sm-17 Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat massa quis.
    .fs-14.text-gray.review.reviews-border.ml-119.pb-35.mt-sm-17.pb-sm-41 23 Мая, 2019г.
  .d-none
    .d-flex.mt-50.mt-sm-47   
      img.mr-18(src="./images/valeria-antonova.png", alt="photo by Valeria Antonova", height="101", width="101")
      .review 
        .fw-500.fs-18.mt-10.mt-sm-5 Чулпан Хаматова
        .fs-14.mt-10.mt-sm-8 Актриса
    .d-flex.ml-119.d-sm-block.mt-minus28.mt-sm-minus24    
      img.mr-7.ml-sm-102(src="./images/Vectorstar.svg" alt="star")
      img.mr-7(src="./images/Vectorstar.svg" alt="star")
      img.mr-7(src="./images/Vectorstar.svg" alt="star")
      img.mr-7(src="./images/Vectorstar.svg" alt="star")
      img.mr-50(src="./images/Vectorstar.svg" alt="star")
      .mt-sm-24    
        img.mr-5(src="./images/check-mark.png", alt="check mark")
        span.fs-14.text-gray Супер! Я бы заказала съемку снова!
    p.review.mt-21.lh-150percent.ml-119.mt-sm-17 Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, pretium.
    .fs-14.text-gray.review.reviews-border.ml-119.pb-35.mt-sm-41.pb-sm-41 30 мая, 2019г.
  .w-206.m-0-auto.mt-39.mt-sm-34.pt-6 
    img.d-sm-none(id="arrow-to-down-left-reviews", src="images/arrow-to-down.png", alt="arrow to down")
    a.fs-17.fw-500.mx-10(id="show-all-reviews", href="#reviews") Показать Все (
      span(id="number-of-reviews") 
      span )
    img.d-sm-none(id="arrow-to-down-right-reviews", src="images/arrow-to-down.png", alt="arrow to down")
    a.d-none.fs-17.fw-500.text-center(id="hide-all-reviews", href="#reviews") Скрыть
    img.d-none.d-sm-inline(id="arrow-to-right-reviews", src="images/arrow-to-right.png", alt="arrow to right", width="6", height="11")