section.d-flex.justify-content-between.pt-97.pb-41(id="social")
  img.ml-66.ml-md-0(src="./images/helyfly.png" alt="Логотип")
  .d-flex.align-items-center.mt-minus18.mt-sm-minus5.mr-63
    a(href="#")    
      img.mr-30(src="./images/vk.svg", alt="vk", width="25" height="15")
    a(href="#") 
      img.mr-30(src="./images/facebook.svg", alt="facebook")
    a(href="#") 
      img.mr-30.mr-sm-0(src="./images/instagram.svg", alt="instagram")
    span.fs-15.mr-7.d-md-none RU
    a(href="#") 
      img.d-md-none(src="images/arrow-to-down.png", alt="arrow to down")